<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilos-header-footer-paginas.css">
    <link rel="stylesheet" href="../css/estilos-catalogo.css">
</head>
<body>
    <header>
        <div class="topheader">
            <div class="contenedor-topheader">
                <a href="../index.html">
                    <img src="../assets/logo.png" alt="">
                </a>    
                  <div class="horarios">
                  
                  </div>  
            </div>
        </div>
        <nav>
            <div class="hamburguesa">
                <img src="../assets/menu.svg" alt="Menú" height="38px" id="menu-icon">
            </div>
            <ul class="menu-horizontal" id="menu">
                <li><a href="../index.html">HOME</a></li>
                <li>
                    <a href="#">VEHICULOS</a>
                    <ul class="menu-vertical">
                        <li class="prueba"><a href="../templates/catalogo-autos.html">VER AUTOS</a></li>
                        <li><a href="../templates/catalogo-motos.html">VER MOTOS</a></li>
                        <li><a href="../templates/catalogo-camionetas.html">VER CAMIONETAS</a></li>
                    </ul>
                </li>
                <li><a href="../templates/formulario-de-venta.html">VENDE TU AUTO</a></li>
                <li><a href="../templates/nosotros.html">NOSOTROS</a></li>
                <li><a href="../templates/formulario-de-contacto.html">CONTACTO</a></li>
                <li><a href="../templates/beneficios.html">BENEFICIOS</a></li>
            </ul>
        </nav>
    </header> 
    <main>
        <div class="container-wrap">
            <div class="container">
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-1.jpg" alt="">
                    <p class="titulo-tarjeta">Isuzu Amigo</p>
                    <p>Marca: Isuzu </p>
                    <p>Modelo: Amigo</p>
                    <p>Kilometraje: 140000km</p>
                    <p>Motor: 2.3L I4</p>
                    <p>Traccion: Trasera</p>
                    <p>Transmision: Manual Quinta</p>
                    <p>Año: 1993</p>
                    <p class="precio-auto">U$D 14000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-2.jpg" alt="">
                    <p class="titulo-tarjeta">Nissan Pathfinder SE 4x4</p>
                    <p>Marca: Nissan</p>
                    <p>Modelo: Pathfinder</p>
                    <p>Kilometraje: 170000km</p>
                    <p>Motor: 3.3L V6</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Manual Quinta</p>
                    <p>Año: 1998</p>
                    <p class="precio-auto">U$D 11000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-3.jpg" alt="">
                    <p class="titulo-tarjeta">Honda Acty SDX 4WD</p>
                    <p>Marca: Honda</p>
                    <p>Modelo: Acty</p>
                    <p>Kilometraje: 62000km</p>
                    <p>Motor: 656cc I3</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Manual Quinta</p>
                    <p>Año: 1996</p>
                    <p class="precio-auto">U$D 7500</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-4.jpg" alt="">
                    <p class="titulo-tarjeta">Suzuki Samurai JX 4x4</p>
                    <p>Marca: Suzuki</p>
                    <p>Modelo: Samurai</p>
                    <p>Kilometraje: 189000km</p>
                    <p>Motor: 1.3L I4</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Manual Quinta</p>
                    <p>Año: 1986</p>
                    <p class="precio-auto">U$D 8500</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-5.jpg" alt="">
                    <p class="titulo-tarjeta">Toyota FJ Cruiser</p>
                    <p>Marca: Toyota</p>
                    <p>Modelo: FJ Cruiser</p>
                    <p>Kilometraje: 160000km</p>
                    <p>Motor: 4.0L V6</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Automatica Quinta</p>
                    <p>Año: 2007</p>
                    <p class="precio-auto">U$D 25000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-6.jpg" alt="">
                    <p class="titulo-tarjeta">Subaru Baja Turbo</p>
                    <p>Marca: Subaru</p>
                    <p>Modelo: Baja</p>
                    <p>Kilometraje: 176000km</p>
                    <p>Motor: 2.5L Turbocharged Boxer 4 Cilindros</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Automatica Cuarta</p>
                    <p>Año: 2005</p>
                    <p class="precio-auto">U$D 16000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-7.jpg" alt="">
                    <p class="titulo-tarjeta">Suzuki Carry Truck 4x4</p>
                    <p>Marca: Suzuki</p>
                    <p>Modelo: Carry Truck</p>
                    <p>Kilometraje: 25000km</p>
                    <p>Motor: 657cc I3</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Manual Quinta</p>
                    <p>Año: 1990</p>
                    <p class="precio-auto">U$D 8600</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-8.jpg" alt="">
                    <p class="titulo-tarjeta">Toyota Land Cruiser</p>
                    <p>Marca: Toyota</p>
                    <p>Modelo: Land Cruiser</p>
                    <p>Kilometraje: 320000km</p>
                    <p>Motor: 4.5L I6</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Automatica Cuarta</p>
                    <p>Año: 1994</p>
                    <p class="precio-auto">U$D 20000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-9.jpg" alt="">
                    <p class="titulo-tarjeta">Toyota 4Runner TRD Pro</p>
                    <p>Marca: Toyota</p>
                    <p>Modelo: 4Runner</p>
                    <p>Kilometraje: 12000km</p>
                    <p>Motor: 4.0L V6</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Automatica Quinta</p>
                    <p>Año: 2019</p>
                    <p class="precio-auto">U$D 72000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-10.jpg" alt="">
                    <p class="titulo-tarjeta">Mitsubishi Montero EVO</p>
                    <p>Marca: Mitsubishi</p>
                    <p>Modelo: Montero</p>
                    <p>Kilometraje: 90000km</p>
                    <p>Motor: 3.5L V6</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Automatica Quinta</p>
                    <p>Año: 1997</p>
                    <p class="precio-auto">U$D 40000$</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-11.jpg" alt="">
                    <p class="titulo-tarjeta">Toyota 4Runner Limited</p>
                    <p>Marca: Toyota</p>
                    <p>Modelo: 4Runner</p>
                    <p>Kilometraje: 32000km</p>
                    <p>Motor: 3.4L V6</p>
                    <p>Traccion: 4WD7AWD</p>
                    <p>Transmision: Automatica Cuarta</p>
                    <p>Año: 1999</p>
                    <p class="precio-auto">U$D 35000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-12.jpg" alt="">
                    <p class="titulo-tarjeta">Toyota Land Cruiser</p>
                    <p>Marca: Toyota</p>
                    <p>Modelo: Land Cruiser</p>
                    <p>Kilometraje: 20000km</p>
                    <p>Motor: 4.2L I6</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Manual Cuarta</p>
                    <p>Año: 1986</p>
                    <p class="precio-auto">U$D 48000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-13.jpg" alt="">
                    <p class="titulo-tarjeta">Suzuki Jimny</p>
                    <p>Marca: Suzuki</p>
                    <p>Modelo: Jimny</p>
                    <p>Kilometraje: 101000km</p>
                    <p>Motor: 1.3L I4</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Manual Quinta</p>
                    <p>Año: 1998</p>
                    <p class="precio-auto">U$D 10000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-14.jpg" alt="">
                    <p class="titulo-tarjeta">Subaru Forester</p>
                    <p>Marca: Subaru</p>
                    <p>Modelo: Forester</p>
                    <p>Kilometraje: 130000km</p>
                    <p>Motor: 2.5L Turbocharged Boxer 4 Cilindros</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Automatica Cuarta</p>
                    <p>Año: 2011</p>
                    <p class="precio-auto">U$D 20000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-15.jpg" alt="">
                    <p class="titulo-tarjeta">Isuzu Trooper</p>
                    <p>Marca: Isuzu</p>
                    <p>Modelo: Trooper</p>
                    <p>Kilometraje: 120000km</p>
                    <p>Motor: 3.5L V6</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Automatica Cuarta</p>
                    <p>Año: 2000</p>
                    <p class="precio-auto">U$D 9800</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-16.jpg" alt="">
                    <p class="titulo-tarjeta">Scion xB</p>
                    <p>Marca: Scion</p>
                    <p>Modelo: xB</p>
                    <p>Kilometraje: 35000km</p>
                    <p>Motor: 1.5L I4</p>
                    <p>Traccion: Delantera</p>
                    <p>Transmision: Automatica Cuarta</p>
                    <p>Año: 2005</p>
                    <p class="precio-auto">U$D 8000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-17.jpg" alt="">
                    <p class="titulo-tarjeta">Toyota Land Cruiser</p>
                    <p>Marca: Toyota</p>
                    <p>Modelo: Land Cruiser</p>
                    <p>Kilometraje: 310000km</p>
                    <p>Motor: 4.7L V8</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Automatica Cuarta</p>
                    <p>Año: 2000</p>
                    <p class="precio-auto">U$D 20000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-19.jpg" alt="">
                    <p class="titulo-tarjeta">Daihatsu Atrai MX Turbo</p>
                    <p>Marca: Daihatsu</p>
                    <p>Modelo: Atrai</p>
                    <p>Kilometraje: 53000km</p>
                    <p>Motor: 660cc Turbocharged I3</p>
                    <p>Traccion: Trasera</p>
                    <p>Transmision: Manual Quinta</p>
                    <p>Año: 1996</p>
                    <p class="precio-auto">U$D 7000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-18.jpg" alt="">
                    <p class="titulo-tarjeta">Honda Element EX</p>
                    <p>Marca: Honda</p>
                    <p>Modelo: Element</p>
                    <p>Kilometraje: 180000km</p>
                    <p>Motor: 2.4L I4</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Manual Quinta</p>
                    <p>Año: 2005</p>
                    <p class="precio-auto">U$D 13000</p>
                </div>
                <div 
                    class="caja"> <img src="../assets/tarjeta-camioneta-20.jpg" alt="">
                    <p class="titulo-tarjeta">Nissan NV 3500 SL</p>
                    <p>Marca: Nissan</p>
                    <p>Modelo: NV</p>
                    <p>Kilometraje: 130000km</p>
                    <p>Motor: 5.6L V8</p>
                    <p>Traccion: 4WD/AWD</p>
                    <p>Transmision: Automatica Quinta</p>
                    <p>Año: 2014</p>
                    <p class="precio-auto">U$D 52000</p>
                </div>
            </div>
        </div>
   </main> 
   <footer>
    <div class="contenedor-footer">
        <div class="footer-general">
            <div class="direccion-footer">
                <p>
                    <img src="../assets/location-dot-solid.svg">
                </p>
                <p>
                    Av. San Martin 1408 (CP5500)
                    <br>
                    Godoy Cruz, Mendoza
                </p>
            </div>
            <div class="telefono-footer">
                <p>
                    <img src="../assets/phone-solid.svg">
                </p>
                <p>
                    +54 261 5896753
                    <br>
                    +54 261 4582997
                </p>
            </div>
            <div class="horario-footer">
                <p>
                    <img src="../assets/time.svg" alt="">
                </p>
                <p>
                    Horario de Atención
                    <br>
                    Lun a Vie de 9 a 18hs.
                    <br>
                    Sabados 9 a 13hs.
                </p>
               
            </div>
        </div>
        <div class="footer-general-cen">
            <div class="texto-mapa">
                <p>
                    <img src="../assets/location-dot-solid.svg"> UBICACION
                    
                </p> 
            </div>
            <div class="mapa-grande">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.548694001666!2d-68.84952234962586!3d-32.910098602187986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e096e69495089%3A0xf1f6aae58757bf8!2sAv.%20San%20Mart%C3%ADn%201408%2C%20M5501%20Godoy%20Cruz%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1716237445947!5m2!1ses-419!2sar" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="mapa-chico">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4187.0895634462395!2d-68.84473020474353!3d-32.90940116998891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e096e69495089%3A0xf1f6aae58757bf8!2sAv.%20San%20Mart%C3%ADn%201408%2C%20M5501%20Godoy%20Cruz%2C%20Mendoza!5e0!3m2!1ses!2sar!4v1718666841413!5m2!1ses!2sar" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="footer-general-der">
            <div class="footer-general-der-text">
                <p>
                    NUESTRAS REDES
                </p>
            </div>
            <div class="footer-general-der-icons">
                <a href="https://www.instagram.com/zulmalobato/">
                    <img src="../assets/instagram.svg" alt="">
                </a>
                <a href="../templates/facebook-footer.html">
                    <img src="../assets/square-facebook.svg" alt="">
                </a> 
            </div>
        </div>
    </div>
</footer>
<script src="../js/script.js"></script>   
</body>
</html>